<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="emp1" class="beans.Employee">
        <property name="name" value="Mohideen Abdul Katheer M"/>
        <property name="empId" value="E101"/>
        <property name="address">
            <bean class="beans.Address">
                <property name="doorNo" value="4/327A"/>
                <property name="street" value="Muslim Street"/>
                <property name="locality" value="Paraipatty, Periyakottai PO"/>
                <property name="district" value="Dindigul"/>
                <property name="state" value="Tamilnadu"/>
                <property name="pin" value="624306"/>
            </bean>
        </property>
    </bean>
</beans>